{% extends 'homepage/index.html' %}
{% block content %}

<form method="POST" action="{% url 'update_profile' %}" enctype="multipart/form-data">
  <div class="d-flex justify-content-center mb-3 mt-3">
    <button type="submit" class="btn btn-primary">Save</button>

  </div>

<div class="col-md-10 offset-md-1" >
    {% if user.is_authenticated %}
        <br>
        <div class="row">
          
          
          <div class="col-md-4">
          <!-- First Card -->
              <div class="card" style="width: 16rem;">
                  <div class="row"></div>
                  <img src="{{ user.profile.image.url }}" class="card-img-top" alt="..." height=auto width= 300>
                  <div class="card-body">
                    <p><span style="color: red;">*</span> indicate required fields</p>
                    <br>
                    <h5 class="card-title">{{ user.first_name }} {{ user.last_name }}</h5>
                        {% csrf_token %}
                        
                        <h6>
                            <label>Position: <span style="color: red;">*</span></label>
                            <input type="text" name="position" class="form-control" value="{{ user.profession.position }}" required>
                            <p>at Company: <span style="color: red;">*</span></p>
                            <input type="text" name="company" class="form-control" value="{{ user.profession.company }}" required>
                        </h6>
                        <label>City: <span style="color: red;">*</span></label>
                        <input type="text" name="city" class="form-control" value="{{ user.profile.city }}" required>
                    
                        <label>State: <span style="color: red;">*</span></label>
                        <input type="text" name="state" class="form-control" value="{{ user.profile.state }}" required>
                    
                        <label>Country: <span style="color: red;">*</span></label>
                        <input type="text" name="country" class="form-control" value="{{ user.profile.country }}" required>
                    
                        <label>Phone #:</label>
                        <input type="text" name="phone" class="form-control" value="{{ user.profile.phone }}" >

                        <label for="gender">Gender: <span style="color: red;">*</span></label>
                        <select name="gender" id="gender" class="form-select" required>
                            <option value="Female" {% if user.profile.gender == "Female" %}selected{% endif %}>Female</option>
                            <option value="Male" {% if user.profile.gender == "Male" %}selected{% endif %}>Male</option>
                            <option value="Non-Binary" {% if user.profile.gender == "Non-Binary" %}selected{% endif %}>Non-Binary</option>
                            <option value="Transgender" {% if user.profile.gender == "Transgender" %}selected{% endif %}>Transgender</option>
                            <option value="Not Listed" {% if user.profile.gender == "Not Listed" %}selected{% endif %}>Not Listed</option>
                            <option value="Prefer not to say" {% if user.profile.gender == "Prefer not to say" %}selected{% endif %}>Prefer not to say</option>
                        </select>
                        
                    
                        <label>Email: <span style="color: red;">*</span></label>
                        <input type="email" name="email" class="form-control" value="{{ user.email }}" required>
                        <input type="checkbox" name="email_show" id="email_show" {% if user.profile.email_show %}checked{% endif %}>                        <label class="form-check-label" for="email_show">Show my email publicly?</label>
                        <br>
                        <label>Profile Image:</label>
                        <br><br>
                        {% if user.profile.image %}
                            <img src="{{ user.profile.image.url }}" alt="Profile Image" class="img-thumbnail" width="100">
                            
                        {% endif %}
      
                        <input type="file" name="image" class="form-control">
                
                  </div>

              </div>
          </div>
          <!-- Second Card -->
          
          <div class="col-md-4" >
            <p>Career</p>
                    <ol class="list-group">
                        <li class="list-group-item d-flex justify-content-between align-items-start">
                          <div class="ms-2 me-auto">
                            <div class="fw-bold">Career stage: <span style="color: red;">*</span></div>
                            <select name="career_stage" class="form-select" required>
                                <option value="Student" {% if user.profession.career_stage == "Student" %}selected{% endif %}>Student</option>
                                <option value="1 - 3 years" {% if user.profession.career_stage == "1 - 3 years" %}selected{% endif %}>1 - 3 years</option>
                                <option value="4 - 6 years" {% if user.profession.career_stage == "4 - 6 years" %}selected{% endif %}>4 - 6 years</option>
                                <option value="7 - 9 years" {% if user.profession.career_stage == "7 - 9 years" %}selected{% endif %}>7 - 9 years</option>
                                <option value="10+ years" {% if user.profession.career_stage == "10+ years" %}selected{% endif %}>10+ years</option>
                            </select>
                          </div>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-start">
                          <div class="ms-2 me-auto">
                            <div class="fw-bold">Industry: <span style="color: red;">*</span></div>

                            <select name="industry" class="form-select" required>
                              <option value="Accounting" {% if user.profession.industry == "Accounting" %}selected{% endif %}>Accounting</option>
                              <option value="Commercial Banking" {% if user.profession.industry == "Commercial Banking" %}selected{% endif %}>Commercial Banking</option>
                              <option value="Consumer Banking" {% if user.profession.industry == "Consumer Banking" %}selected{% endif %}>Consumer Banking</option>
                              <option value="Corporate Finance" {% if user.profession.industry == "Corporate Finance" %}selected{% endif %}>Corporate Finance</option>
                              <option value="Fintech" {% if user.profession.industry == "Fintech" %}selected{% endif %}>Fintech</option>
                              <option value="Insurance Finance" {% if user.profession.industry == "Insurance Finance" %}selected{% endif %}>Insurance Finance</option>
                              <option value="Investment Banking" {% if user.profession.industry == "Investment Banking" %}selected{% endif %}>Investment Banking</option>
                              <option value="Private Equity" {% if user.profession.industry == "Private Equity" %}selected{% endif %}>Private Equity</option>
                              <option value="Real Estate Finance" {% if user.profession.industry == "Real Estate Finance" %}selected{% endif %}>Real Estate Finance</option>
                              <option value="Venture Capital" {% if user.profession.industry == "Venture Capital" %}selected{% endif %}>Venture Capital</option>
                              <option value="Wealth Management" {% if user.profession.industry == "Wealth Management" %}selected{% endif %}>Wealth Management</option>
                              <option value="Student" {% if user.profession.industry == "Student" %}selected{% endif %}>Student</option>
                              <option value="Other" {% if user.profession.industry == "Other" %}selected{% endif %}>Other</option>
                              
                            </select>


                          <!--  <input type="text" name="industry" class="form-control" value="{{ user.profession.industry }}" required> -->
                          </div>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-start">
                          <div class="ms-2 me-auto">
                            <select name="industry_interest" class="form-select" required>
                              <option value="Accounting" {% if user.profession.industry == "Accounting" %}selected{% endif %}>Accounting</option>
                              <option value="Commercial Banking" {% if user.profession.industry == "Commercial Banking" %}selected{% endif %}>Commercial Banking</option>
                              <option value="Consumer Banking" {% if user.profession.industry == "Consumer Banking" %}selected{% endif %}>Consumer Banking</option>
                              <option value="Corporate Finance" {% if user.profession.industry == "Corporate Finance" %}selected{% endif %}>Corporate Finance</option>
                              <option value="Fintech" {% if user.profession.industry == "Fintech" %}selected{% endif %}>Fintech</option>
                              <option value="Insurance Finance" {% if user.profession.industry == "Insurance Finance" %}selected{% endif %}>Insurance Finance</option>
                              <option value="Investment Banking" {% if user.profession.industry == "Investment Banking" %}selected{% endif %}>Investment Banking</option>
                              <option value="Private Equity" {% if user.profession.industry == "Private Equity" %}selected{% endif %}>Private Equity</option>
                              <option value="Real Estate Finance" {% if user.profession.industry == "Real Estate Finance" %}selected{% endif %}>Real Estate Finance</option>
                              <option value="Venture Capital" {% if user.profession.industry == "Venture Capital" %}selected{% endif %}>Venture Capital</option>
                              <option value="Wealth Management" {% if user.profession.industry == "Wealth Management" %}selected{% endif %}>Wealth Management</option>
                              <option value="Student" {% if user.profession.industry == "Student" %}selected{% endif %}>Student</option>
                              <option value="Other" {% if user.profession.industry == "Other" %}selected{% endif %}>Other</option>
                              
                            </select>
                          </div>
                        </li>
                      </ol>
                    <br>
                    <p>Education</p>
                    <ol class="list-group">
                        <li class="list-group-item d-flex justify-content-between align-items-start">
                          <div class="ms-2 me-auto">
                            <div class="fw-bold">School: <span style="color: red;">*</span></div>
                            <input type="text" name="school" class="form-control" value="{{ user.profession.school }}" required>
                          </div>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-start">
                          <div class="ms-2 me-auto">
                            <div class="fw-bold">Major - Minor: <span style="color: red;">*</span></div>
                            <input type="text" name="major_minor" class="form-control" value="{{ user.profession.major_minor }}" required>
                          </div>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-start">
                          <div class="ms-2 me-auto">
                            <div class="fw-bold">Graduation Year (or Expected): <span style="color: red;">*</span></div>
                            <input type="text" name="graduation_year" class="form-control" value="{{ user.profession.graduation_year }}" required>
                            <!-- <span class="badge text-bg-primary rounded-pill">{{ user.profession.graduation_year | stringformat:'d' }}</span> -->
                          </div>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-start">
                            <div class="ms-2 me-auto">
                              <div class="fw-bold">GPA:</div>
                                <input type="text" name="gpa" class="form-control" value="{{ user.profession.gpa }}">
                            </div>
                          </li>
                      </ol>
                </div>
                <div class="col-md-4">
                  <div class="card-body">
                    <p>Resume & Others</p>
                    <ol class="list-group">
                        <li class="list-group-item d-flex justify-content-between align-items-start">
                          <div class="ms-2 me-auto">
                            <div class="fw-bold">Linkedin:</div>
                            <input type="text" name="linkedin" class="form-control" value="{{ user.profession.linkedin }}">
                          </div>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-start">
                          <div class="ms-2 me-auto">
                            <div class="fw-bold">Resume (Only PDF files):</div>
                            <input type="file" accept=".pdf" name="resume" class="form-control">
                          </div>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-start">
                          <div class="ms-2 me-auto">
                            <div class="fw-bold">Volunteer Interest <span style="color: red;">*</span></div>
                            <select name="volunteer_interest" class="form-select" required>
                                <option value="Yes" {% if user.profession.volunteer_interest == "Yes" %}selected{% endif %}>Yes</option>
                                <option value="No" {% if user.profession.volunteer_interest != "Yes" %}selected{% endif %}>No</option>
                            </select>
                          </div>
                        </li>
  
                      </ol>
                    <br>
                    
                </div>

                </div>
                <p class="text-center">Please fill everything you can to take full advantage of your membership.</p>

          </div>
          <br>
                    </form>
    </div>
    {% else %}

        <br>
        <h1>Login</h1>
        <br>
        <form method="POST" action="{% url 'home' id %}">
            {% csrf_token %}
            <form>
                <div class="mb-3">
                <input type="text" class="form-control" placeholder="Username" name="username" required>
                </div>
                <div class="mb-3">
                <input type="password" class="form-control" placeholder="Password" name="password" required>
                </div>
                <br>
                <button type="submit" class="btn btn-secondary">Login</button>
            </form>
        </form>


    {% endif %}
</div>

{% endblock %}